ul {
  height: 60px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* background-color: #333; */
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(201, 201, 201);
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #4fd443;
}

#updateGridSize {
  width: 80%;
}

#supportMenu {
  align-content: center;
  text-align: center;
  font-size: 12px;
}

/* Style The Dropdown Button */
.dropbtn {
  user-select: none;
  background-color: rgb(41, 37, 37);
  border: 2px solid rgb(88, 88, 88);
  color: rgb(201, 201, 201);
  font-size: 12px;
  cursor: pointer;
  width: 100px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  color: rgb(201, 201, 201);
  font-family: "Lato";
  background-color: rgb(41, 37, 37);
  border: 2px solid rgb(88, 88, 88);
  max-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(137, 255, 58);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: rgb(201, 201, 201);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  /* width: 250px; */
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: rgb(61, 255, 55);
}

.menuItem {
  height: 32px;
  width: 90%;
  align-items: center;
  color: azure;
  font-size: 8pt;
}

/* .menuItem:hover {
  height: 42px;
  width: 90%;
  align-items: center;
  background: #4fd443;
  color: #222222;
  font-size: 10pt;
} */

#fileButton {
  position: absolute;
  top: 0px;
  left: 200px;
}

#supportButton {
  position: absolute;
  top: 0px;
  left: 310px;
}

#undoButton {
  position: absolute;
  top: 0px;
  left: 520px;
  width: 90px;
}

#redoButton {
  position: absolute;
  top: 0px;
  left: 620px;
  width: 90px;
}

#undoButton:hover {
  color: rgb(61, 255, 55);
}

#redoButton:hover {
  color: rgb(61, 255, 55);
}
