#search {
  visibility: hidden;
}

.p5Canvas {
  top: 35px !important;
  left: -3px !important;
  border: 2px solid rgb(88, 88, 88);
}

body {
  background-color: rgb(41, 41, 41);
  margin: 0;
  padding: 0;
  align-items: center;
}

input {
  padding: 5px;
  font-size: 14px;
  width: 155px;
  height: 45px;
  background-color: rgb(41, 37, 37);
  color: rgb(201, 201, 201);
  border: none;
  align-items: left;
  border-radius: 5px;
  border: 0.5px solid rgb(128, 128, 128);
  height: 25px;
}

label {
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  width: 155px;
  height: 45px;
  background-color: rgb(41, 37, 37);
  color: rgb(201, 201, 201);
  border: none;
  align-items: left;
}

#fileMenu {
  background: #1a1a1a;
  height: 50px;
}
select {
  height: 25px;
}

a {
  padding: 15px;
  color: rgb(201, 201, 201);
}

a:hover {
  padding: 15px;
  color: rgb(61, 255, 55);
}

button {
  height: 35px;
  width: 100px;
  margin: 5px;
  background: rgb(53, 53, 53);
  color: azure;
  font-size: 8pt;
  border-radius: 3px;
  border: 0.5px solid rgb(128, 128, 128);
}

button:hover {
  color: rgb(61, 255, 55);
}

button:active {
  background: #4fd443;
  color: #222222;
}

#logo {
  margin-left: 50px;
  margin-top: 20px;
  margin-right: auto;
  height: 200%;
  user-select: none;
}

#canvasAreaHeader {
  user-select: none;
  font-family: "Lato";
  font-size: 8px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: move;
  background-color: rgb(41, 37, 37);
}

#gifHeader,
#paintOptionsheader,
#documentHeader,
#brushOptionsHeader,
#filterOptionsHeader,
#exportHeader {
  user-select: none;
  font-family: "Lato";
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: move;
  background-color: rgb(73, 73, 73);
  margin-bottom: 10px;
}

#canvasAreaHeader {
  font-size: 12px;
}

#gifHeader {
  color: rgb(109, 245, 255);
  border-bottom: 2px solid rgb(88, 88, 88);
}

#paintOptionsheader {
  color: rgb(255, 224, 51);
  border-bottom: 2px solid rgb(88, 88, 88);
}

#documentHeader {
  color: rgb(51, 255, 68);
  border-bottom: 2px solid rgb(88, 88, 88);
}
#brushOptionsHeader {
  color: rgb(52, 208, 255);
  border-bottom: 2px solid rgb(88, 88, 88);
}

#exportHeader {
  color: rgb(255, 167, 51);
  border-bottom: 2px solid rgb(88, 88, 88);
}

#filterOptionsHeader {
  color: rgb(51, 255, 102);
  border-bottom: 2px solid rgb(88, 88, 88);
}

#document {
  top: 150px;
  left: 30px;
  user-select: none;
  font-family: "Lato";
  font-size: 12px;
  color: rgb(201, 201, 201);
  position: absolute;
  background-color: rgba(34, 34, 34, 0.5);
  border: 2px solid rgb(88, 88, 88);
  text-align: center;
  width: 180px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
}

#export {
  top: 350px;
  left: 30px;
  user-select: none;
  font-family: "Lato";
  font-size: 12px;
  color: rgb(201, 201, 201);
  position: absolute;
  background-color: rgba(34, 34, 34, 0.5);
  border: 2px solid rgb(88, 88, 88);
  text-align: center;
  width: 180px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
}

#canvasArea {
  top: 60px;
  left: 240px;
  user-select: none;
  font-family: "Lato";
  font-size: 12px;
  color: rgb(201, 201, 201);
  position: absolute;
  background-color: #333;
  border: 2px solid rgb(88, 88, 88);
  width: 180px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
}

#paintOptions {
  top: 60px;
  left: 900px;
  user-select: none;
  font-family: "Lato";
  color: rgb(201, 201, 201);
  position: absolute;
  background-color: rgba(34, 34, 34, 0.5);
  border: 2px solid rgb(88, 88, 88);
  text-align: center;
  width: 110px;
  height: 355px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
}

#filterOptions {
  top: 430px;
  left: 900px;
  user-select: none;
  font-family: "Lato";
  font-size: 12px;
  color: rgb(201, 201, 201);
  position: absolute;
  background-color: rgba(34, 34, 34, 0.5);
  border: 2px solid rgb(88, 88, 88);
  text-align: center;
  width: 110px;
  height: 220px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
}

#brushOptions {
  top: 60px;
  left: 1020px;
  user-select: none;
  font-family: "Lato";
  font-size: 12px;
  color: rgb(201, 201, 201);
  position: absolute;
  background-color: rgba(34, 34, 34, 0.5);
  border: 2px solid rgb(88, 88, 88);
  text-align: center;
  width: 110px;
  height: 430px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
}

#gif {
  top: 500px;
  left: 1020px;
  user-select: none;
  font-family: "Lato";
  font-size: 12px;
  color: rgb(201, 201, 201);
  position: absolute;
  background-color: rgba(34, 34, 34, 0.5);
  border: 2px solid rgb(88, 88, 88);
  text-align: center;
  width: 110px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
}

#pixelSizeField {
  width: 80%;
  text-align: center;
}

#canvasWidth {
  margin: 5px;
  width: 40%;
  font-size: 12px;
  text-align: center;
}

#canvasHeight {
  margin: 5px;
  width: 40%;
  font-size: 12px;
  text-align: center;
}

i {
  margin-right: 5px;
}

#exportWidth {
  margin: 5px;
  width: 40%;
  font-size: 12px;
  text-align: center;
}

#exportHeight {
  margin: 5px;
  width: 40%;
  font-size: 12px;
  text-align: center;
}

#feedbackField {
  width: 90%;
}

#colorBar {
  /* margin: 20px; */
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
}

.previewImage {
  height: 40px;
  background: #222222;
}

/* Slider */
.switch {
  margin: 10px;
  position: relative;
  display: inline-block;
  width: 55px;
  height: 22px;
}

#pixelSizeField {
  height: 35px;
  width: 100px;
  margin: 5px;
  color: azure;
  background: #353535;
}

#gridSizeField {
  height: 35px;
  width: 100px;
  margin: 5px;
  color: azure;
  background: #353535;
  border: 0.5px solid rgb(128, 128, 128);
}

#spritesheetField {
  height: 30px;
  width: 100px;
  margin: 5px;
  color: azure;
  background: #353535;
  border: 0.5px solid rgb(128, 128, 128);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 10;
}

.slider {
  position: absolute;
  cursor: pointer;
  height: 18px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 30;
  left: 4px;
  bottom: 8px;
  background-color: #4fd443;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input[type="file"] {
  /* display: none; */
}

.custom-file-upload {
  cursor: pointer;
  font-family: "Lato";
  font-size: 12px;
  padding: 5px;
  font-size: 14px;
  background-color: rgb(41, 37, 37);
  color: rgb(201, 201, 201);
  border: none;
  align-items: left;
}
